# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Environment
.env

# Logs
logs/
*.log

# Runtime / sessions / db locali
*.session
db/
*.sqlite
*.sqlite3

# OS / editor
.DS_Store
Thumbs.db
.vscode/